body
{
    padding-top: 50px;
    padding-bottom: 20px;
   
}

/* Set padding to keep content from hitting the edges */
.body-content
{
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt
{
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea
{
    max-width: 280px;
}

#introImage
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profileImage
{
    display: block;
    height: 40px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
}

.profileImageEdit

{
    display: block;
    height: 141px;
    width: 200px;
    position:relative;
    float:left;
}

.publicProfileImage

{
    display: block;
    /*margin-left: auto;
    margin-right: auto;*/
    height: 200px;
    width: 240px;
    float:left;
    margin:10px;
   border-radius:10px;
}

textarea{
    width: 300px;
}

.Comment
{
    margin:5px;
    
}
.dateData
{
    font-size: 0.6em;
}

#presentation{
    display:block;
    height: 260px;
    /*padding:10px;*/
    width:100%;
    position:relative;
}
#presentation figure{
   
    top:0px;
    left:0px;
    float:left;
    position:relative;
}

#presentation > div{
    margin-left:300px;
    margin-right:140px;
    text-align:justify;

}