
@{
    ViewBag.Title = "Index";
    Layout = "_adminLayout.cshtml";
}

<h2>Administration Page</h2>
<div>
    <ul>
        <li>@Html.ActionLink("Manage Publishers", "Index","Publishers", null,null) - Here you can modify publishers, add profile and catalog photos (through click on "Edit").</li>


    </ul>

</div>

