
@{
    ViewBag.Title = "Catalog";
}
@*<link href="~/Content/gallery.css" rel="stylesheet" />*@
<link href="~/Content/gallery2.css" rel="stylesheet" />

 
<div class="container">
    <div class="row" style="padding:5px;">
        <div class="col">
            <form>
                Search:<input type="text" id="SearchText" size="30" />
                <button class="btn-info"><span class="glyphicon glyphicon-search"></span></button>
            </form>
        </div>
      
    </div>

</div>
<center><h2>Select a photographer to see their current work.</h2></center>


@*<div class="gallery">
    <a tabindex="1" href="/Home/Index" data-name="MegaRed"><img src="~/images/smile.jpg"></a>
    <a tabindex="1"><img src="~/images/smile.jpg"John McPherson"></a>
    <a tabindex="1"><img src="~/images/smile.jpg"></a>
    <a tabindex="1"><img src="~/images/smile.jpg"></a>

    <a tabindex="1"><img src="~/images/smile.jpg"></a>
    <a tabindex="1"><img src="~/images/smile.jpg"></a>
    <a tabindex="1"><img src="~/images/smile.jpg"></a>
    <a tabindex="1"><img src="~/images/smile.jpg"></a>

    <a tabindex="1"><img src="~/images/smile.jpg"></a>
    <a tabindex="1"><img src="~/images/smile.jpg"></a>
    <a tabindex="1"><img src="~/images/smile.jpg"></a>
    <a tabindex="1"><img src="~/images/smile.jpg"></a>

    <a tabindex="1"><img src="~/images/smile.jpg"></a>
    <a tabindex="1"><img src="~/images/smile.jpg"></a>
    <a tabindex="1"><img src="~/images/smile.jpg"></a>
    <a tabindex="1"><img src="~/images/smile.jpg"></a>
    <span class="closed">+</span>
    <span class="closed-layer"></span>

</div>*@

<main class="gallery">
    <a href="/Home/Index">
        <figure class="individual">
            <img alt="photoImage" src="~/images/smile.jpg">
            <figcaption>
                Text 1<br>
                <span>Text 2</span>
            </figcaption>
        </figure>
    </a>

    <figure class="individual">
        <img alt="photoImage" src="~/images/smile.jpg">
        <figcaption>
            Text 1<br>
            <span>Text 2</span>
        </figcaption>
    </figure>

    <figure class="individual">
        <img alt="photoImage" src="~/images/smile.jpg">
        <figcaption>
            Text 1<br>
            <span>Text 2</span>
        </figcaption>
    </figure>

    <figure class="individual">
        <img alt="photoImage" src="~/images/smile.jpg" >
        <figcaption>
            Text 1<br>
            <span>Text 2</span>
        </figcaption>
    </figure>
    <figure class="individual">
        <img alt="photoImage" src="~/images/smile.jpg">
        <figcaption>
            Text 1<br>
            <span>Text 2</span>
        </figcaption>
    </figure>
    <figure class="individual">
        <img alt="photoImage" src="~/images/smile.jpg">
        <figcaption>
            Text 1<br>
            <span>Text 2</span>
        </figcaption>
    </figure>

</main>


