@model IEnumerable<PhotoBook.Entities.PublisherPic>

@{ Layout = null;
   
  }



<link href="~/Content/gallery.css" rel="stylesheet" />


<div class="gallery">
    @foreach (var publisherPic in Model)
    {
     
        <a data-toggle="lightbox" data-gallery="example-gallery" data-title="@publisherPic.Publisher.Name" data-width="5000" data-heigth="5000" href="@System.Configuration.ConfigurationManager.AppSettings["PublishersCatalogsDirectory"]/@publisherPic.PublisherId/@publisherPic.ImageUrl" >
            <figure>

                <img  src="@System.Configuration.ConfigurationManager.AppSettings["PublishersCatalogsDirectory"]/@publisherPic.PublisherId/@publisherPic.ImageUrl" />
                <figcaption></figcaption>
            </figure>
        </a>

    } 
</div>