@{
    Layout = "Layout2.cshtml";
    ViewBag.Title = "Welcome to Photobook";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
          
            @Html.ActionLink("Photobook", "Catalog", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
       
    </div>
    </div>
    <div class="row">

        <center><h2>Welcome to Photobook</h2></center>

    </div>
    <div class="jumbotron">

        <img id="introImage" src="~/Content/Images/IntroImage.jpg" />
    </div>


    <div class="row">
        <p>
            <center><a href="/Home/Catalog" class="btn btn-info">Click here to enter</a></center>

        </p>

    </div>
