@{
    Layout = "Layout2.cshtml";
    ViewBag.Title = "Welcome to Photobook";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
          
            @Html.ActionLink("Photobook", "Catalog", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
       
    </div>
    </div>
    <div class="row">

        <center><h2>Welcome to Photobook</h2></center>

    </div>
    <div class="jumbotron">

        <img id="introImage" src="~/Content/Images/IntroImage.jpg" />
    </div>


    <div class="row">
        <p>
            <center><a href="/Home/Catalog" class="btn btn-info">Click here to enter</a></center>
           
        </p>
        <p style="text-align:justify;margin:15px;">This is a demo app where the administrator can 
        add photographers and their work to be displayed as a catalog of images.
        This is a simple app where I am using Ninject to provide dependency injection, specifically for the
        Image manager. It is using Entity Framework Code First approach and Identity Framework to authorize
        and authenticate users. Also, the application creates the account and role of admin, once it is started.

        The source code of this app could be found at: <a href="https://github.com/aztekinetix/photobook" target="_blank">https://github.com/aztekinetix/photobook</a>
        
        </p>
    </div>
